In [1]:
import nb_setup 
import importlib
importlib.reload(nb_setup)
nb_setup.init()

Added project root to sys.path: /Users/falconlin/Development/trading
Changed current working directory to: /Users/falconlin/Development/trading
Initialized project with base directory: /Users/falconlin/Development/trading

In [2]:
import models.market as market
import importlib
importlib.reload(market)

market = market.Market.from_json_file()

In [3]:
df = market.to_df()
df.head()

,maxLeverage,name,onlyIsolated,szDecimals,dayNtlVlm,funding,impactPxs,markPx,midPx,openInterest,oraclePx,premium,prevDayPx
0,50,SOL,False,2,6.562003e+06,0.000021,"[146.05, 146.08]",146.040,146.0650,6701.13000,145.930,0.000822,144.75
1,50,APT,False,2,7.718918e+05,0.000118,"[13.728, 13.731]",13.726,13.7295,787.83000,13.705,0.001678,13.41
2,50,ATOM,False,2,4.766130e+05,0.000048,"[13.502, 13.505]",13.498,13.5035,15440.50000,13.485,0.001261,13.71
3,50,BTC,False,5,1.461362e+07,0.000032,"[68226.0, 68233.0]",68230.000,68229.5000,25.61271,68173.000,0.000777,67307.00
4,50,ETH,False,4,7.993745e+06,0.000032,"[3929.7, 3930.2]",3929.700,3929.9500,65.39090,3926.400,0.000840,3913.70

In [13]:
top_60_coins_df = df.sort_values(by='dayNtlVlm', ascending=False).head(60)
top_60_coins_df = top_60_coins_df.reset_index(drop=True)
top_60_coins_df.head()

,maxLeverage,name,onlyIsolated,szDecimals,dayNtlVlm,funding,impactPxs,markPx,midPx,openInterest,oraclePx,premium,prevDayPx
0,50,BTC,False,5,1.461362e+07,0.000032,"[68226.0, 68233.0]",68230.000000,68229.500000,25.61271,68173.000000,0.000777,67307.000000
1,50,ETH,False,4,7.993745e+06,0.000032,"[3929.7, 3930.2]",3929.700000,3929.950000,65.39090,3926.400000,0.000840,3913.700000
2,50,SOL,False,2,6.562003e+06,0.000021,"[146.05, 146.08]",146.040000,146.065000,6701.13000,145.930000,0.000822,144.750000
3,10,FIL,False,1,3.481298e+06,0.000105,"[11.548, 11.55]",11.550000,11.549000,5318.90000,11.533000,0.001301,10.135000
4,50,kPEPE,False,0,3.426150e+06,0.000161,"[0.00959, 0.009594]",0.009586,0.009592,908358.00000,0.009566,0.002509,0.008075

In [6]:
top_60_coins = top_60_coins_df.get('name')
first_coin = top_60_coins[0]
first_coin

'BTC'

In [10]:
from hyperliquid.info import Info
from hyperliquid.utils import constants as hl_constants
import utils.now_timestamp as now_timestamp 
import models.candles as candles
import importlib
importlib.reload(candles)
importlib.reload(now_timestamp)

info = Info(hl_constants.TESTNET_API_URL, skip_ws=True)

In [12]:
start = now_timestamp.get_timestamp_from_now(days=-30)
end = now_timestamp.get_timestamp_from_now(days=0)
for coin in top_60_coins:
    print(coin)
    result = info.candles_snapshot(coin, '15m', start, end)
    _candles = candles.CandleList.from_response(result)
    _candles.to_csv()

BTC
ETH
SOL
FIL
kPEPE
AR
PEOPLE
FET
ARB
WLD
AI
WIF
AVAX
MYRO
MANTA
JUP
kBONK
FTM
ORDI
ETC
kSHIB
NEAR
BNB
RNDR
MEME
PIXEL
ENS
RUNE
kLUNC
APT
DYDX
INJ
OP
TIA
JTO
GALA
ONDO
SUSHI
BIGTIME
SUI
XAI
DYM
ALT
ATOM
GMT
AAVE
NEO
BLUR
JOE
LDO
MATIC
ADA
UMA
IMX
MINA
ACE
MKR
STX
ZETA
PYTH