In [1]:
import nb_setup
import importlib

importlib.reload(nb_setup)
nb_setup.init()

Added project root to sys.path: /Users/falcon/Developments/act/backtesting-playground/trading
Changed current working directory to: /Users/falcon/Developments/act/backtesting-playground/trading
Initialized project with base directory: /Users/falcon/Developments/act/backtesting-playground/trading

In [2]:
import csv
import pandas as pd
from datetime import datetime, timedelta

# Sample data for BTC OHLCV
data = [
    {"Date": "2024-04-17 00:00:00", "Open": 40000, "High": 40500, "Low": 39800, "Close": 40200, "Volume": 120},
    {"Date": "2024-04-17 01:00:00", "Open": 40200, "High": 40600, "Low": 40100, "Close": 40500, "Volume": 150},
    {"Date": "2024-04-17 02:00:00", "Open": 40500, "High": 41000, "Low": 40300, "Close": 40700, "Volume": 180},
    {"Date": "2024-04-17 03:00:00", "Open": 40700, "High": 41200, "Low": 40600, "Close": 41000, "Volume": 200},
    {"Date": "2024-04-17 04:00:00", "Open": 41000, "High": 41500, "Low": 40900, "Close": 41300, "Volume": 220},
]

df = pd.DataFrame(data)

In [3]:
df

                  Date   Open   High    Low  Close  Volume
0  2024-04-17 00:00:00  40000  40500  39800  40200     120
1  2024-04-17 01:00:00  40200  40600  40100  40500     150
2  2024-04-17 02:00:00  40500  41000  40300  40700     180
3  2024-04-17 03:00:00  40700  41200  40600  41000     200
4  2024-04-17 04:00:00  41000  41500  40900  41300     220

In [5]:
for i, row in df.iterrows():
    print(i, row["Date"], row["Open"], row["High"], row["Low"], row["Close"], row["Volume"])

0 2024-04-17 00:00:00 40000 40500 39800 40200 120
1 2024-04-17 01:00:00 40200 40600 40100 40500 150
2 2024-04-17 02:00:00 40500 41000 40300 40700 180
3 2024-04-17 03:00:00 40700 41200 40600 41000 200
4 2024-04-17 04:00:00 41000 41500 40900 41300 220

In [8]:
df.iloc[0:3, :]

                  Date   Open   High    Low  Close  Volume
0  2024-04-17 00:00:00  40000  40500  39800  40200     120
1  2024-04-17 01:00:00  40200  40600  40100  40500     150
2  2024-04-17 02:00:00  40500  41000  40300  40700     180